<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Report</title>
        <link rel="stylesheet" type="text/css" href="/styles/form.css" />
        <script
            defer
            src="/computation.js"
            lineSize="<%= lineSize %>"
            lineOD="<%= lineOD %>"
            pipeLength="<%= pipeLength %>"
            insulationThickness="<%= insulationThickness %>"
            maintainenceTemp="<%= maintainenceTemp %>"
            operationalTemp="<%= operationalTemp %>"
            designTemp="<%= designTemp %>"
            valveCount="<%= valveCount %>"
            flangeCount="<%= flangeCount %>"
            supportCount="<%= supportCount %>"
            pumpCount="<%= pumpCount %>"
            minAmb="<%= minAmb %>"
            maxAmb="<%= maxAmb %>"
            designMargin="<%= designMargin %>"
        ></script>
    </head>
    <body>
        <h1>Report Page</h1>
        <p>lineSize: <%= lineSize %></p>
        <p>lineOD: <%= lineOD %></p>
        <p>pipeLength: <%= pipeLength %></p>
        <p>insulationThickness: <%= insulationThickness %></p>
        <p>maintainenceTemp: <%= maintainenceTemp %></p>
        <p>operationalTemp: <%= operationalTemp %></p>
        <p>designTemp: <%= designTemp %></p>
        <p>valveCount: <%= valveCount %></p>
        <p>flangeCount: <%= flangeCount %></p>
        <p>supportCount: <%= supportCount %></p>
        <p>pumpCount: <%= pumpCount %></p>
        <p>minAmb: <%= minAmb %></p>
        <p>maxAmb: <%= maxAmb %></p>
        <p>designMargin: <%= designMargin %></p>
    </body>
</html>
